@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Sono&display=swap');

:root{
    --fonte-padrao:'Bowlby One SC', sans-serif;
    --fonte-padrao01:'Sono', monospace;

}
*{
    margin: 0;
  padding:   0%;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
    color: rgba(255, 255, 255, 0.564);
}
body{
    background: #081b29;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    margin: auto;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 100px;
}
header a{
    text-decoration: none;
    text-transform: uppercase;
  
}
#logo{
font-size: 1.2em;
font-weight: 600;
font-family: var(--fonte-padrao);
}
nav a{
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 35px;
}
nav a:hover{
    transition: 0.5s;
    opacity: 0.5;
}
nav a:focus{
    cursor: grabbing;
}
section.home{
display: flex;
height: 100vh;
align-items: center;
padding: 0 10%;
background: url(mans.png) no-repeat;
background-size: contain;
background-position: right;
}
article.home-conteudo{
    max-width: 600px;

}
article.home-conteudo h1{
    font-size: 4em;
    font-weight: 600;
}
article.home-conteudo h3{
    font-size: 2em;
    font-weight: 600;
    color: #00abf0;
}
article.home-conteudo p{
    font-size: 1em;
    font-weight: 600;
    font-family: sans-serif;
    line-height: 20px;
    padding: 10px;
    text-indent: 15px;
}
.btn-box{
    margin-top:20px ;
    width: 345px;
    height: 50px;
    display: flex;
    justify-content: space-between;

}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    text-align: center;
  border: 2px solid transparent;
  background: #00abf0;
color: #081b29;
width: 160px;
border-radius: 10px;
z-index: 1;

}
.menu{
    display: none;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
    border: 2px solid white;
    height: 50px;
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 270px;
}
.home-sci a img{
display: inline-flex;
width: 40px;
height: 40px;
background: transparent;
align-items: center;
border: 1px solid #00abf0;
border-radius: 50%;
font-size: 20px;
}
@media screen and (min-width:368px) and (max-width:1024px){
    nav a{
        display: none;
    }

  .menu{
    display: inline-block;
    width: 100%;
  }
  .menu a{
    float: right;
  }
article.home-conteudo{
    width: 100%;
    padding: 50px;
    margin: auto;
}
article.home-conteudo h1{
    font-size: 2rem;
}
section.home{
background: none;
}
}
@media screen  and (max-width:368px){
    nav a{
        display: none;
    }

  .menu{
    display: inline-block;
    width: 100%;
  }
  .menu a{
    float: right;
  }
article.home-conteudo{
    width: 100%;
    padding: 50px;
    margin: auto;
}
article.home-conteudo h1{
    font-size: 1rem;
}
article.home-conteudo h3{
    font-size: 1rem;
}
article.home-conteudo p{
    display: none;
}
section.home{
background: none;
}
    .btn-box{
        width: 50px;
        background-color: #00abf0;
    }
    .btn-box a{
        font-size: 0.8em;
        background-color: #00abf0;
    }
}